t-rover-node-red-flow.json
[{"id":"731a4e82.4b20c","type":"subflow","name":"Normalize Sensor","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"3d296861.3c2c98"}]}],"out":[{"x":1240,"y":60,"wires":[{"id":"6de6b3c9.a2786c","port":0}]}],"env":[],"color":"#FFAAAA"},{"id":"e3df5a22.351158","type":"calculator","z":"731a4e82.4b20c","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":560,"y":220,"wires":[["d804305b.1ef2b"]]},{"id":"3d296861.3c2c98","type":"join","z":"731a4e82.4b20c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":230,"y":120,"wires":[["93ea8e62.fe9d","c975836a.55bab"]]},{"id":"93ea8e62.fe9d","type":"switch","z":"731a4e82.4b20c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":60,"wires":[["6de6b3c9.a2786c"],["e3df5a22.351158"]]},{"id":"6de6b3c9.a2786c","type":"change","z":"731a4e82.4b20c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lastValue","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":60,"wires":[[]]},{"id":"d804305b.1ef2b","type":"change","z":"731a4e82.4b20c","name":"set flow.lastValue","rules":[{"t":"set","p":"lastValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["6de6b3c9.a2786c"]]},{"id":"c975836a.55bab","type":"debug","z":"731a4e82.4b20c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":340,"wires":[]},{"id":"d93edfd0.3c9f7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7efe24ea.9b491c","type":"inject","z":"d93edfd0.3c9f7","name":"Record (One Time)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["e0baaecc.2fd33"]]},{"id":"f3d90353.70f35","type":"inject","z":"d93edfd0.3c9f7","d":true,"name":"Record (Continuous)","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["e0baaecc.2fd33"]]},{"id":"30dd417c.c3638e","type":"debug","z":"d93edfd0.3c9f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":140,"wires":[]},{"id":"70556561.ad6aec","type":"http request","z":"d93edfd0.3c9f7","name":"Get Photo","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.43.1:8080/photo.jpg","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":140,"wires":[["199bc113.f1b93f"]]},{"id":"199bc113.f1b93f","type":"change","z":"d93edfd0.3c9f7","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/Users/scott/Documents/t-rover/\" & timestamp & \".jpeg\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":140,"wires":[["d8a32b3.9a9c9d8"]]},{"id":"d8a32b3.9a9c9d8","type":"file","z":"d93edfd0.3c9f7","name":"Store File","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":720,"y":140,"wires":[["30dd417c.c3638e"]]},{"id":"14a50ab6.33cfd5","type":"arduino in","z":"d93edfd0.3c9f7","name":"VRx","pin":"0","state":"ANALOG","arduino":"ee49bd4d.94c3b","x":250,"y":400,"wires":[["df79235b.48e99"]]},{"id":"8c134522.84b778","type":"arduino in","z":"d93edfd0.3c9f7","name":"VRy","pin":"1","state":"ANALOG","arduino":"ee49bd4d.94c3b","x":250,"y":500,"wires":[["a15efdae.3ba4b"]]},{"id":"e0baaecc.2fd33","type":"change","z":"d93edfd0.3c9f7","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["df79235b.48e99","a15efdae.3ba4b","70556561.ad6aec"]]},{"id":"df79235b.48e99","type":"subflow:731a4e82.4b20c","z":"d93edfd0.3c9f7","name":"","env":[],"x":550,"y":420,"wires":[["993f787a.5f50c8","53c9982a.1cb1d8"]]},{"id":"a15efdae.3ba4b","type":"subflow:731a4e82.4b20c","z":"d93edfd0.3c9f7","name":"","env":[],"x":550,"y":500,"wires":[["993f787a.5f50c8","53c9982a.1cb1d8"]]},{"id":"eec2bc1d.5d85a","type":"join","z":"d93edfd0.3c9f7","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":660,"wires":[["1d7019e0.2c0926"]]},{"id":"5b1e8cf7.a10784","type":"file","z":"d93edfd0.3c9f7","name":"","filename":"append row to file","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1330,"y":620,"wires":[[]]},{"id":"57f52c41.4f30c4","type":"change","z":"d93edfd0.3c9f7","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/Users/scott/Documents/t-rover/\" & timestamp & \".csv\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":540,"wires":[["5b1e8cf7.a10784"]]},{"id":"993f787a.5f50c8","type":"debug","z":"d93edfd0.3c9f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":420,"wires":[]},{"id":"53c9982a.1cb1d8","type":"function","z":"d93edfd0.3c9f7","name":"group messages by timestamp","func":"\nlet msg0 = context.get(msg.timestamp)\nif(msg0) {\n    msg.complete = true\n    context.set(msg.timestamp, undefined)\n    return [msg0, msg]\n} else {\n    context.set(msg.timestamp, msg)\n}\nreturn;\n","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["eec2bc1d.5d85a","8e1563c6.0e6e4"]]},{"id":"1d7019e0.2c0926","type":"csv","z":"d93edfd0.3c9f7","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":960,"y":740,"wires":[["57f52c41.4f30c4"]]},{"id":"8e1563c6.0e6e4","type":"debug","z":"d93edfd0.3c9f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":860,"wires":[]},{"id":"ee49bd4d.94c3b","type":"arduino-board","z":"","device":"/dev/tty.usbmodem142301"}]